/* Testing autoprefixer */
.autoprefixer {
  display: flex;
}

/* Testing cssnext */
.cssnext {
  background: color(red alpha(-10%));
}

/* Testing precss */
.precss {
  @if 3 < 2
    { background: green; }
  @else
    { background: blue; }
}