.sign-up__form {
  margin-top: 20px;
  margin-bottom: 50px;

  .form-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    & :nth-child(n) {
      max-width: 140px;

      & :first-child {
        margin-left: 8px;
        margin-bottom: 4px;
      }
    }
  }

  .button {
    width: 100%;
  }
}