.radio {
  & + span {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 23px;
    border: 2px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    transform: translateY(-2px);
  }

  &:focus + span {
    outline: 2px solid #6495ED;
  }

  &:checked + span {
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 6px;
      height: 6px;
      background-color: #000000;
      border: 1px solid black;
      border-radius: 50%;
    }

    &::before {
      transform: translate(-50%, -50%);
    }
  }
}