.header__button {
  display: block;
  width: auto;
  max-height: 72px;
  padding: 26px 20px;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;

  &--logo {
    padding: 24px 20px;
  }

  &--current {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      height: 5px;
      background-color: #ffffff;
    }
  }
  
  &:hover, &:active, &:focus {
    background-color: lighten(black, 10%);
  }

  &--login {
    padding-left: 52px;
    padding-right: 24px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: 100%;
      left: 24px;
      width: 15px;
      height: 15px;
      background: url("../img/svg/login.svg") 0 0 no-repeat;
      transform: translate(0, 16%);
      opacity: 0.3;
    }

    &:hover, &:active {
      &::before {
        opacity: 1;
      }
    }
  }
}

// Positioning: position, top-left, z-index */
// ---------- */
// Block model: display, float */
// ---------- */
// Size: width, height, margin, padding, box-sizing */
// ---------- */
// Typography: font, line-height, text-align, color */
// ---------- */
// Design: background-color, border(radius), opacity */
// ---------- */
// Animation: transform, transition */
// ---------- */
// Other: will-change */