.header {
  margin-bottom: 60px;
  background-color: #000000;
}

.header--index {
  margin-bottom: 294px;
}

@import "header__nav";
@import "header__menu";
@import "header__button";
@import "header__logo";