.pagination__list {
    display: flex;

    margin: 0;
    padding: 0;
}

.pagination__list a, .pagination__list button {
    min-width: 44px;

    margin-right: 8px;
}

.pagination__list button:disabled {
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    color: #000;
    background-color: #fff;
}