.modal {
  display: none;

  &--show {
    display: block;
  }
}

.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 5px;
  right: -30px;
  background-color: transparent;
  border: none;

  &:hover, &:focus {
    cursor: pointer;

    &::before, &::after {
      background-color: #d0d0d0;
    }
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 24px;
    background-color: #515151;
  }
}

// Positioning: position, top-left, z-index */
// ---------- */
// Block model: display, float */
// ---------- */
// Size: width, height, margin, padding, box-sizing */
// ---------- */
// Typography: font, line-height, text-align, color */
// ---------- */
// Design: background-color, border(radius), opacity */
// ---------- */
// Animation: transform, transition */
// ---------- */
// Other: will-change */